Source: cplane
Maintainer: Chet Ruszczyk <chester@haystack.mit.edu>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: python-cplane
Architecture: amd64
Depends: ${misc:Depends}, ${python:Depends}, python-pynetinfo (>= 0.2.4), mark6-sc-module (>= 0.9)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: VLBI Data Recording Service Control plane for Mark6 system

